:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  text-align: center;
  padding: 1rem;
  background-image: url('./images/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
}

button {
  border-radius: 5px;
  width: auto;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.textBox {
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 100%;
  border-radius: 5px;
}

button {
  outline: none;
}

footer {
  color: white;
  margin: 1rem;
}
