:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  text-align: center;
  height: 100%;
  text-shadow: 0 0 3px black, 0 0 5px black;
  padding: 1rem;
}

h1 {
  color: white;
}

button {
  border-radius: 5px;
  width: auto;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.textBox {
  color: white;
}

.forImage {
  height: 100%;
  width: 100%;
  background-image: url('./images/ironman.jpg');
}
