:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  text-align: center;
  text-shadow: 0 0 3px black, 0 0 5px black;
}

h1 {
  color: white;
}

button {
  border-radius: 5px;
  width: auto;
  border: none;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.textBox {
  color: white;
}
